.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  width: 100px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.boton {
  background-color: transparent;
  display: flex;
  height: 200px;
  width: 200px;
  
}
.imagen {
  background-color: transparent;
  display: flex;
  height: 170px;
  width: 170px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
